<div id="innerBody">
  <div class="head">
    <h1>Lost your pet?</h1>
    <h5>We can help you with your search.</h5>
    <br/>
    <hr>
    <br/>
  </div>
  <div class="container">

    <div class="row">
      <div class="col s12">
        <span class="bigText">LostAndHounds allows you to...</span>
      </div>
    </div>

    <div class="row">
      <div class="col s3">
      </div>
      <div class="col s3">
        LostAndHounds allows you to...
      </div>
      <div class="col s3">
        LostAndHounds allows you to...
      </div>
      <div class="col s3">
      </div>
    </div>

  </div>
</div>
