@import '../../stylings/loginregister';

#errorText {
  color: red;
  display: none;
}

/*.container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  width: 35%;
}

.tab {
  border: 1px pink solid;
}

form {
  border: 1px solid pink;
}

button {
  background-color: pink;
}

button:hover {
  background-color: hotpink;
}

.active {
  font-weight: bold;
}
*/
